<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>0xRauros - Manifest!</title>
    <link rel="icon" type="image/x-icon" href="../static/images/skull.ico">

     <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"> 

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/special.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="header container">
        <div class="logo">
         <a href="../index.html" class="logo-title">
          0xRauros
        </a> 
        </div>
        <div class="menu">

           <a href="posts.html" class="link">
               <div class="nav-menu">
                   <p>Posts</p>
               </div>
               <div class="bar"></div>
           </a>

          <a href="projects.html" class="link">
            <div class="nav-menu">
              <p>Work</p>
            </div>
            <div class="bar"></div>
          </a>

          <a href="manifest.html" class="link">
            <div class="nav-menu">
              <p>Manifest</p>
            </div>
            <div class="bar"></div>
          </a>
          <!--<a href="/posts" class="link">
            <div class="nav-menu">
              <p>Posts</p>
            </div>
            <div class="bar"></div>
          </a> -->
          <a href="about_me.html" class="link">
            <div class="nav-menu">
              <p>About me</p>
            </div>
            <div class="bar"></div>
          </a>
        </div>
      </div>

      <div class="container">

        <br>
        <br>
        <!-- <i class="devicon-python-plain"></i>  -->
        <div class="work">
          <h3 class="text-center">
            21st CENTURY DIGITAL BOY MANIFEST (our spiritual rebelion)
          </h3>
          <br>
          <p class="text-center">
            "As technology advances, there seems to be a simultaneous decline in human potential. 
            Here lies a set of principles I deem crucial for navigating through our overwhelmingly busy and unfocused society. 
            It's a personal reflection infused with a rebellious spirit. 
            Feel free to reach out to me to contribute more and join the rebellion!"
          </p>
          <div class="blur-rule"></div>          
          <div class="work-exp-box text-white">
            <br>
            <ol>
                <li>
                  <strong>Stay away from social media (damages your brain)</strong><br>
                  Ditching the social media circus is a badass move to safeguard your sanity and stay laser-focused in this chaotic modern world. 
                  These platforms? They're like a non-stop info dump, a distraction overdose, and a pointless social pressure cooker. 
                  Slash that social media time, reclaim your headspace for deep thoughts, unleash your creativity, and channel that energy into meaningful stuff. 
                  Constantly measuring your life against others' highlight reels? That's a one-way ticket to a self-esteem nosedive. 
                  Scale back on these platforms, break free from the comparison trap, and forge real connections with your surroundings and genuine human bonds. 
                  Bottom line: Rebel against the digital noise for a mind that's not just surviving but thriving—wild, creative, and zeroed in on what truly counts.
                </li>
                <br>
                <li>
                  <strong>Develop self discipline</strong><br>
                  Be a badass disciple of your own destiny. In a world suffocated by conformity, being disciplined is your middle finger to the system. It's not about rigid rules but a punk-rock commitment to your own chaos. 
                  Discipline becomes your leather jacket, a symbol of defiance against the mind-numbing routine imposed by society.
                  In a landscape polluted by distractions, discipline is your secret weapon to cut through the noise and reclaim your focus. It's the DIY ethos applied to your life – no corporate agenda, no soul-sucking norms. This isn't about following the rules; it's about creating your own damn rules. Discipline becomes your graffiti on the walls of a society trying to box you in.
                  So, be a rebel with a cause – your own cause. Cultivate discipline not as a means of control, but as a rebellious act of self-liberation. In a world pushing you to conform, let discipline be your riot against the mundane, your anthem of freedom in a world desperate for revolution.
                </li>
                <br>
                <li>
                  <strong>Less internet news and more books</strong><br>
                  Consume less internet news and devour more books. The internet bombards you with fleeting updates and sensationalized headlines, creating a whirlwind of information without substance. Shift your focus to books—an oasis of depth in a desert of superficiality.
                  Books offer a refuge from the constant barrage of news cycles, providing a space for profound exploration and genuine knowledge. In the realm of books, you're not just a passive consumer; you're an active participant, shaping your thoughts and perspectives. Unlike the ephemeral nature of internet news, books stand as timeless companions, fostering critical thinking and a deeper understanding of the world.
                  It's a rebellion against the instant-gratification culture—opting for the slow burn of intellectual growth over the quick fix of headline addiction. So, turn off the notifications, log out of the news feeds, and immerse yourself in the boundless realms of literature. In a society drowning in information snippets, let books be your anchor, offering a refuge for contemplation, insight, and rebellion against the relentless stream of digital chaos.
                </li>
                <br>
                <li>
                  <strong>Strategic digital silence</strong><br>
                  Challenge the whirlwind of online discussions and embrace silence as a powerful weapon. By refusing to engage in fruitless digital debates, you not only preserve your mental energy but also defy the unnecessary noise that inundates the internet. The real rebellion lies in choosing depth over immediacy, reserving your opinions for spaces where they can truly make a meaningful and constructive impact. 
                  Break free from the compulsion to respond and embrace the freedom of thoughtful and deliberate thinking.
                </li>
                <br>
                <li>
                  <strong>Demolish your EGO</strong><br>
                  Rise above the self-centered illusion; acknowledge that while you are undoubtedly unique, the concept of being "special" is a deceptive construct. Rebel against the ego's relentless pursuit of validation. By dismantling the fortress of your own ego, you open the door to genuine connections and collaborations. The true power lies in recognizing our shared humanity, transcending the need for constant affirmation. 
                  Liberation from the ego's grip enables a more humble, empathetic, and collectively empowered existence.
                </li>
                <br>

                <li>
                  <strong>Have a tidy workspace</strong><br>
                  or a chaotic desk reflects a chaotic mind. Defy the norm of cluttered workstations and embrace the revolutionary act of maintaining a clean desk. This isn't just about aesthetics; it's a statement against the chaos that infiltrates productivity. A tidy desk fosters focus, efficiency, and a sense of control. Break free from the chains of disorder, and let your organized workspace become a symbol of your commitment to clarity, 
                  creativity, and an unyielding defiance against the status quo of workplace chaos.
                </li>
                <br>

                <li>
                  <strong>Exercise your body</strong><br>
                  Rebel against the sedentary shackles and embrace the liberation of physical exercise. Your body is not just a vessel; 
                  it's a revolutionary force waiting to be unleashed. Challenge the norm of a stagnant lifestyle and rediscover 
                  the profound benefits of spending time in the great outdoors. Break free from the confines of indoor routines, 
                  for nature is not just a backdrop but a source of rejuvenation. As you move, you defy the societal norms that 
                  confine movement to gyms and embrace the rebellious spirit of connecting with the earth. It's not just about fitness; 
                  it's a declaration of independence from the inertia that binds us. Beyond the physical, recognize the mental benefits — a clearer mind, enhanced creativity, 
                  and a resilient spirit forged in the crucible of outdoor experience. It's not just a workout; it's a revolution for your body and mind.
                </li>
                <br>

                <li>
                  <strong>Take cold showers (always)</strong><br>
                  Plunge into the icy depths of defiance and embrace the cold shower revolution. 
                  Break free from the chains of comfort, for warm waters are the lullabies of conformity. Cold showers are not merely a jolt to the senses; they're a rebellion against the lukewarm mediocrity that pervades our daily lives. In the shock of frigid water, discover a baptism of resilience, mental fortitude, and a reminder that true strength lies in facing discomfort head-on. It's not just a physical challenge; it's a bold declaration 
                  against the tepid currents of a society that shies away from discomfort. The chill is your ally in the battle for an awakened, invigorated spirit.
                </li>
                <br>

                <li>
                  <strong>Don't take yourself too serious</strong><br>
                  Revolt against the suffocating seriousness that society demands. Reject the notion that every step must be measured and every word weighed. Embrace the liberation of lightness, for in not taking yourself too seriously, you unlock the power of authenticity and spontaneity. The rebellion lies in the laughter that echoes against the walls of societal expectations. Break free from the gravity of self-importance, and let the winds of humor and humility carry you. 
                  Life is too short for the chains of perpetual solemnity; the true revolution is in the joyous dance of embracing the absurdity of existence.
                </li>

                <br>
                <li>
                  <strong><a href="https://www.amazon.es/Stillness-Key-Ryan-Holiday/dp/0525538585" target="_blank">Stillness is the key</a></strong><br>
                  Defy the relentless pace of the world and stage a rebellion by slowing down. In the stillness lies the true revolution. 
                  Reject the notion that constant motion equates to progress, and instead, embrace the healthiness of doing nothing. Take a moment to look at the sky, observe the dance of shadows, or be captivated by the subtle movements of a tree. This is not idleness but a profound connection with oneself, a rebellion against the superficial frenzy. In these pauses, you discover the rhythm of your own heartbeat and reconnect with the depth within. The revolution isn't always in action; sometimes, it's found in the profound art of simply being.
                </li>

                <br>
                <li>
                  <strong>Plan your work</strong><br>
                  Stage a revolt against the chaos of unstructured work by meticulously planning and breaking it into bite-sized tasks. Reject the illusion that productivity thrives in disorder, and instead, embrace the revolutionary act of realistic planning. This isn't about conforming to a rigid system but about reclaiming control over your time. By dissecting your work into manageable fragments, you declare war on the overwhelming nature of large tasks. The true rebellion lies in the empowerment that comes from achievable milestones, fostering a sense of accomplishment and control. 
                  Liberation from the shackles of disorganization is not just efficient; it's a declaration of self-sovereignty over your time and energy.
                </li>

                <br>
                <li>
                  <strong>Fuck off the work interruptions</strong>
                  Defy the invasive culture of mindless meetings, interrupting emails, and incessant office calls. Raise your voice against the tyranny of constant interruptions and boldly declare your need for undisturbed focus. This is not just about saying "no"; it's a full-scale rebellion against the devaluation of concentrated work. By setting boundaries and communicating your need for uninterrupted time, you dismantle the illusion that productivity is synonymous with constant connectivity. Break free from the shackles of needless meetings and disruptive emails, for true efficiency thrives in the sanctuary of focused, distraction-free workspaces. In this rebellion, you reclaim your right to carve out moments of deep concentration, fostering creativity and meaningful accomplishments.
                </li>

                <br>
                <li>
                  <strong>Travel the world</strong><br>
                  Unleash the revolutionary spirit within by embarking on a journey to traverse the diverse tapestry of the world. Defy the chains of the ordinary, for there is a universe of cultures, countries, places, and people waiting to astound you. This isn't just a call to travel; it's a proclamation to amaze yourself with the kaleidoscope of human existence. Break free from the familiar and let the unknown become your playground. In each new encounter and foreign landscape, discover the limitless possibilities that exist beyond the boundaries of the familiar. The true rebellion is in embracing the reality that life is a grand adventure waiting to be explored – go forth and let the world be your guide.
                </li>

                <br>
                <li>
                  <strong>Multitasking is bullshit</strong><br>
                  It's a deceptive mirage that dilutes focus and diminishes productivity. Reject the societal pressure to juggle numerous tasks simultaneously and instead, embrace the power of monotasking. This isn't an admission of weakness; it's a declaration of strength in acknowledging that true efficiency arises from undivided attention. Break free from the myth that scattering your focus leads to heightened performance, for in the sanctuary of monotasking, you rediscover the art of deep concentration and unparalleled mastery. The true rebellion lies in the refusal to conform to a culture that falsely glorifies multitasking – for the human mind thrives when allowed to delve deeply into one task at a time.
                </li>

                <br>
                <li>
                  <strong>Speed reading is bullshit</strong><br>
                  Rebel against the fallacy of speed reading, a hollow promise that devalues the profound art of absorbing knowledge. Challenge the notion that flipping through pages like a tornado leads to genuine comprehension. This isn't an aversion to progress; it's a stand for the sanctity of truly understanding the written word. Break free from the illusion that speed equates to wisdom; in the unhurried cadence of reading, lies the depth of comprehension and the unrivaled joy of getting lost in the world of words. The true rebellion is in savoring the richness of each sentence rather than racing through paragraphs, 
                  for wisdom unfolds in the unhurried embrace of a well-crafted narrative. I mean, why would you want to read a book in one hour? Would you also like to finish sex in one minute?
                </li>

                <br>
                <li>
                  <strong>Don't care about others opinions about you</strong><br>
                  Rebel against the suffocating weight of others' opinions; emancipate yourself from the chains of external validation. This isn't an act of apathy but a revolutionary stance on self-worth. Break free from the societal constructs that dictate your value based on others' perceptions. In the audacious act of not giving a damn, you empower yourself to authentically navigate your own journey. The true rebellion lies in recognizing that your worth is an internal compass, unaffected by the ever-changing winds of external judgments. Embrace the liberation of authenticity, 
                  for in the realm of self-love, the opinions of others become mere whispers in the wind, fading into insignificance.
                </li>

                <br>
                <li>
                  <strong>Try to not judge</strong><br>
                  For each person is a living, breathing narrative shaped by a unique set of experiences. Embrace the revolutionary act of understanding that behind every individual, there lies a story, complex and intricate. This isn't an encouragement for indifference; it's an anthem for empathy. Break free from the chains of snap judgments and let the pages of others' lives unfold without prejudice. The true rebellion lies in recognizing that, just like you, everyone is navigating a personal odyssey. In the tapestry of humanity, withhold judgment and let compassion be the ink that writes a more empathetic and interconnected story for us all.
                </li>

                <br>
                <li>
                  <strong>Sometimes, instead of asking for advice...</strong><br>
                  Embark on a hitchhiking journey to the remote corners of Alaska or the enchanting landscapes of Saudi Arabia. This isn't just a rejection of counsel; it's an audacious embrace of experiential wisdom. Break free from the quest for answers in the well-trodden paths of advice, and let the open road become your oracle. In the unpredictability of hitchhiking, you'll find the unscripted narratives of life, answering questions you never thought to ask. The true rebellion is in seeking knowledge not from the sage words of others, but from the raw, unfiltered experiences that unfold with each passing mile.
                </li>

                <br>
                <li>
                  <strong>Never feel better or superior than someone</strong><br>
                  This isn't a call for false modesty but a declaration of genuine equality. Break free from the societal constructs that encourage hierarchies, for true strength lies in unity, not in creating divisions. The true rebellion is in recognizing the inherent worth and unique journeys of every individual. In the harmonious tapestry of humanity, there is no room for false superiority. Let humility be the cornerstone of your interactions, for in the mutual respect for each other's humanity, you find the true essence of connection and collective empowerment.
                </li>

                <br>
                <li>
                  <strong>Learn to be alone</strong><br>
                  Rebel against the societal fear of solitude, and embrace the revolutionary art of being alone with yourself. This isn't an act of isolation, but a courageous declaration to cultivate a profound connection with your own soul. Break free from the misconception that solitude equates to loneliness, for in the sacred silence of your own company, you discover the untapped reservoirs of self-discovery and introspection. The true rebellion is in recognizing that your worth is not contingent on external companionship. Let solitude be your sanctuary, a space where you unearth the richness of your thoughts, dreams, and desires, forging an unshakable bond with the most important person in your life – yourself.
                </li>

                <br>
                <li>
                  <strong>Love is always the answer</strong><br>
                  liberate your heart by expressing love openly. This isn't just a reminder; it's a call to revolutionize your relationships. Break free from the assumption that love is implicit, for in the spoken words of affection, you create a symphony of connection. The true rebellion is in defying the unsaid and making love an audible anthem in the lives of those you cherish. Let your emotions flow freely, for in the fleeting moments of life, expressing love becomes a timeless legacy, echoing beyond the constraints of time. Embrace the liberation of love's declaration and let your affectionate words become the guiding stars in the constellation of your relationships.
                </li>

                <br>
                <li>
                  <strong>Money is not that important</strong><br>
                  Recognize its power but also its limitations. Money grants a certain freedom, but it's a mere instrument, not the destination. Break free from the chains of avarice, understanding that true wealth lies not just in financial abundance but in the peace of your inner world. This isn't a rejection of prosperity but an elevation of your values. The true rebellion is in harmonizing the external wealth with the richness of your heart and the pursuit of your dreams. Let the currency of your inner world be love, peace, and the pursuit of a life aligned with your deepest aspirations. In this balance, you discover the true liberation of wealth that transcends mere materiality.
                </li>

                <br>

            </ol>
          </div>
          <hr>

          
        </div>
        
        <br>
        <br>

    <script src="https://kit.fontawesome.com/961d7b02e1.js" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
