<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>0xRauros - Projects</title>
    <link rel="icon" type="image/x-icon" href="../static/images/skull.ico">

     <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"> 

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/special.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="header container">
        <div class="logo">
         <a href="../index.html" class="logo-title">
          0xRauros
        </a> 
        </div>
        <div class="menu">

           <a href="posts.html" class="link">
               <div class="nav-menu">
                   <p>Posts</p>
               </div>
               <div class="bar"></div>
           </a>

          <a href="projects.html" class="link">
            <div class="nav-menu">
              <p>Work</p>
            </div>
            <div class="bar"></div>
          </a>

          <a href="reading_list.html" class="link">
            <div class="nav-menu">
              <p>Reading list</p>
            </div>
            <div class="bar"></div>
          </a>
          <!--<a href="/posts" class="link">
            <div class="nav-menu">
              <p>Posts</p>
            </div>
            <div class="bar"></div>
          </a> -->
          <a href="about_me.html" class="link">
            <div class="nav-menu">
              <p>About me</p>
            </div>
            <div class="bar"></div>
          </a>
        </div>
      </div>

      <div class="container">

        <br>
        <br>
        <!-- <i class="devicon-python-plain"></i>  -->
        <div class="work">
          <h4 class="text-center">
            My last readings 😊
          </h4>
          <div class="blur-rule"></div>          
          <div class="work-exp-box text-white">
            <h5>2023</h5>
            <ol>
                <li>Hands-on Rust: Effective Learning through 2D Game Development and Play - Herbert Wolverson</li>
                <li>Django by example 4 - Antonio Melé</li>
                <li>Django for APIs - William S. Vincent</li>
                <li>Flask Web Development: Developing Web Applications with Python - Miguel Grinberg</li>
                <li>Django for professionals - William S. Vincent</li>
                <li>Django for beginners - William S. Vincent</li>
                <li>El universo en tu bolsillo - Marcus Chown</li>
                <li>Stillness is the key - Ryan Holiday</li>
                <li>En el camino - Jack Kerouac</li>
                <li>Atlas de IA: Poder, política y costes planetarios de 
                    la inteligencia artificial - Kate Crawford
                </li>
                <li>La rueda del tiempo (1, 2, 3, 4) - Robert Jordan</li>
                <li>La montaña mágica - Thomas Mann</li>
                <li>La morada (elfo oscuro) 1 - R. A. Salvatore</li>
                <li>El exilio (elfo oscuro) 2 - R. A. Salvatore</li>
                <li>El refugio (elfo oscuro) 3 - R. A. Salvatore</li>
                <li>Trono de cristal - Sarah J. Mass</li>
                <li>Corona de medianoche - Sarah J. Mass</li>
                <li>Heredera de fuego - Sarah J. Mass</li>
                <li>El heroe de la eras - Brandon Sanderson</li>
                <li>The obstacle is the way - Ryan Holiday</li>
                <li>Discipline is destiny - Ryan Holiday</li>
                <li>Ego is the enemy - Ryan Holiday</li>
                <li>La granja - John Grisham</li>
                <li>Las uvas de la ira - John Steinbeck</li>
            </ol>
          </div>
          <hr>

          
        </div>
        
        <br>
        <br>

    <script src="https://kit.fontawesome.com/961d7b02e1.js" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
